@import '../../global';

body {
  &::-webkit-scrollbar {
    width: $spacing-XS;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: $spacing-XXS;
    border: 1px solid $theme-color-3;
  }
  &::-webkit-scrollbar-track {
    background: $theme-color-1;
  }
}
