@import '../../../../global';

#card {
  width: 350px;
  @include flexbox(column, center, center, $spacing-XS);

  @include backgroundIMG(
    2.5%,
    5%,
    95%,
    90%,
    0.3,
    2,
    '/public/assets/IMGs/backgrounds/card.jpg'
  );

  @include box(
    0,
    $spacing-L,
    $box-color-1,
    $box-gradient-1,
    $box-color-1,
    $spacing-XXS,
    $shadow-color-3
  );

  h1 {
    font-weight: 800;
    letter-spacing: $spacing-XS;
    font-size: 90px;
    text-transform: uppercase;
    color: $theme-color-3;
    position: relative;
    left: 5px;
    text-shadow: (0px 0px 2px $theme-color-2);
  }
  h2 {
    font-family: $detail-font;
    font-size: $font-XS;
    color: $detail-color-2;

    letter-spacing: 1px;

    opacity: 0.8;

    text-shadow: (0px 0px 10px $theme-color-3);

    position: relative;
    bottom: 10px;
  }

  ul {
    @include flexbox(row, center, baseline, $spacing-XS);

    @include box(
      0,
      $spacing-XXS,
      $box-color-2,
      $box-gradient-2,
      none,
      $spacing-XXS,
      $shadow-color-3
    );
    li {
      width: 30px;
      height: 30px;

      &:last-of-type {
        position: relative;
        top: 4.5px;
      }

      img {
        width: 30px;
        height: 30px;

        filter: drop-shadow(0px 0px 0.5px $detail-color-2);
        transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
          filter: drop-shadow(0px 0px 1px $detail-color-2);
          transform: scale(1.02);
        }
      }
    }
    img {
      filter: drop-shadow(0px 0px 1px $detail-color-2);
    }
  }
}
